# Cache and logs
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/bin/
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml

# Composer PHAR
/composer.phar

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# ========================
# IDEs #
# ========================

# PHPStorm
# ========================
.idea

# Favicons
web/apple-touch-icon-76x76.png
web/apple-touch-icon-152x152.png
web/apple-touch-icon-144x144.png
web/apple-touch-icon-60x60.png
web/browserconfig.xml
web/apple-touch-icon-120x120.png
web/android-chrome-192x192.png
web/favicon.ico
web/mstile-144x144.png
web/favicon-96x96.png
web/apple-touch-icon-180x180.png
web/apple-touch-icon-72x72.png
web/favicon-32x32.png
web/apple-touch-icon-57x57.png
web/favicon-16x16.png
web/apple-touch-icon-114x114.png
web/manifest.json
