.header-presentation {
    text-align: center;
    background-color: #6AA8E9;
    color: #FFF;
    padding: 40px 0;
    margin-top: -20px;
    margin-bottom: 15px;
}

.header-presentation .lead {
    font-size: 30px;
}

.search-housing {
    margin: 15px 0;
}

.housing-offer {
    text-align: center;
}

footer {
    color: #FFF;
    padding: 20px 0;
}

footer a:link {
    color: gainsboro;
}

.footer-copyright {
    text-align: center;
}

footer .social {
    text-align: right;
}